<div class="pay-invoices">
  <div class="breadcrumb">
    <ul>
      <li class="f-roboto"><a [routerLink]="['/account']">Account /</a></li>
      <li class="f-roboto">Pay Invoice</li>
    </ul>
  </div>

  <div class="content">

    <div class="payment-status">
      <span class="f-roboto" [ngClass]="{'status-button-marked': paymentStatus === 'pending',
                         'status-button': paymentStatus === 'paid'}"
                          (click)="changePaymentStatus('pending')">Pending</span>
      <span class="f-roboto" [ngClass]="{'status-button-marked': paymentStatus === 'paid',
                         'status-button': paymentStatus === 'pending'}"
                          (click)="changePaymentStatus('paid')">Paid</span>
    </div>

    <form id="form">
      <input type="text" class="invoice-input" placeholder="Enter an invoice number">
      <input type="text" class="date-input" placeholder="Enter a date">
      <span><img src="../../../../assets/images/search-icon.png"></span>
    </form>

    <div class="data-table">
      <div class="headings">
        <span class="f-roboto" *ngFor="let column of columns">{{column.name | uppercase}}</span>
        <span class="free-space"></span>
      </div>
      <div class="data">
        <div class="data-rows" *ngFor="let row of currentRows; let i=index;" [ngClass]="{'grey-row': i%2 === 1, 'white-row': i%2 === 0}">
          <span class="f-roboto">{{row.invoice_date}}</span>
          <span class="f-roboto">{{row.invoice_number}}</span>
          <span class="f-roboto">{{row.account_number}}</span>
          <span class="f-roboto">{{row.due_date}}</span>
          <span class="f-roboto">{{row.total_amount}}</span>
          <span class="f-roboto">{{row.balance_number}}</span>
          <span class="f-roboto pdf-button">PDF</span>
        </div>
      </div>
    </div>

    <div class="pagination">
      <div>
        <img src="../../../../assets/images/backward-icon.png" (click)="onPreviousPage()">
        <span *ngFor="let i of paginationArray"
              (click)="onChangeIndex(i)"
              [ngClass]="{'selected-index': currentIndex === i}">{{i}}</span>
        <img src="../../../../assets/images/forward-icon.png" (click)="onNextPage()">
      </div>
    </div>

  </div>

  <div class="footer">
    <span class="f-roboto">&copy;2020 all rights reserved</span>
  </div>



<!--  <div class="separator-breadcrumb border-top"></div>-->

<!--  <div class="row justify-content-center">-->
<!--    <div class="form-group mr-5">-->
<!--      <label for="invoice">Invoice #</label>-->
<!--      <input id="invoice" class="form-control form-control-rounded" type="text" />-->
<!--    </div>-->
<!--    <div class="form-group ml-5">-->
<!--      <div class="input-group">-->
<!--        <label for="due_date" style="width: 100%;">Due Date</label>-->
<!--        <input-->
<!--          id="due_date"-->
<!--          type="text"-->
<!--          class="form-control form-control-rounded"-->
<!--          ngbDatepicker-->
<!--          #startDate="ngbDatepicker"-->
<!--          name="startDate"-->
<!--        />-->
<!--        <div class="input-group-append">-->
<!--          <button class="btn btn-secondary btn-rounded" (click)="startDate.toggle()" type="button">-->
<!--            <i class="icon-regular i-Calendar-4"></i>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row mt-5">-->
<!--    <div class="col-md-12">-->
<!--      <h3>Pending Invoices</h3>-->
<!--      <div class="card o-hidden">-->
<!--        <ngx-datatable-->
<!--          class="material fullscreen"-->
<!--          [columnMode]="'force'"-->
<!--          [headerHeight]="50"-->
<!--          [footerHeight]="0"-->
<!--          [rowHeight]="60"-->
<!--          [scrollbarV]="false"-->
<!--          [scrollbarH]="false"-->
<!--          [rows]="rows"-->
<!--          [columns]="columns"-->
<!--        >-->
<!--        </ngx-datatable>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row mt-5">-->
<!--    <div class="col-md-12">-->
<!--      <h3>Paid Invoices</h3>-->
<!--      <div class="card o-hidden">-->
<!--        <ngx-datatable-->
<!--          class="material fullscreen"-->
<!--          [columnMode]="'force'"-->
<!--          [headerHeight]="50"-->
<!--          [footerHeight]="0"-->
<!--          [rowHeight]="60"-->
<!--          [scrollbarV]="false"-->
<!--          [scrollbarH]="false"-->
<!--          [rows]="rows"-->
<!--          [columns]="columns"-->
<!--        >-->
<!--        </ngx-datatable>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
