<div class="pay-invoices">
  <div class="breadcrumb">
    <ul>
      <li class="f-roboto"><a [routerLink]="['/account']">Account /</a></li>
      <li class="f-roboto">Pay Invoice</li>
    </ul>
  </div>

  <div class="content">

    <div class="payment-status">
      <span class="f-roboto" [ngClass]="{'status-button-marked': paymentStatus === 'pending',
                         'status-button': paymentStatus === 'paid'}"
                          (click)="changePaymentStatus('pending')">Pending</span>
      <span class="f-roboto" [ngClass]="{'status-button-marked': paymentStatus === 'paid',
                         'status-button': paymentStatus === 'pending'}"
                          (click)="changePaymentStatus('paid')">Paid</span>
    </div>

    <form id="form">
      <input type="text" class="invoice-input" placeholder="Enter an invoice number">
      <input  placeholder="Enter a date"
              type="text"
              class="date-input"
              ngbDatepicker
              #startDate="ngbDatepicker"
              name="startDate"
              (click)="startDate.toggle()"
      />
      <span><img src="../../../../assets/images/search-icon.png"></span>
    </form>

    <div class="data-table">
      <div class="headings">
        <span class="f-roboto" *ngFor="let column of columns">{{column.name | uppercase}}</span>
        <span class="free-space"></span>
      </div>
      <div *ngIf="rows.length>0" class="data">
        <div class="data-rows" *ngFor="let row of currentRows; let i=index;" [ngClass]="{'grey-row': i%2 === 1, 'white-row': i%2 === 0}">
          <span class="f-roboto">{{row.invoice_date}}</span>
          <span class="f-roboto">{{row.invoice_number}}</span>
          <span class="f-roboto">{{row.account_number}}</span>
          <span class="f-roboto">{{row.due_date}}</span>
          <span class="f-roboto">{{row.total_amount}}</span>
          <span class="f-roboto">{{row.balance_number}}</span>
          <span class="f-roboto pdf-button">PDF</span>
        </div>
      </div>
      <div *ngIf="rows.length === 0" class="data">
        <span class="data-rows white-row">No data to display</span>
      </div>
    </div>

    <div class="pagination">
      <div>
        <img src="../../../../assets/images/backward-icon.png" (click)="onPreviousPage()">
        <span *ngFor="let i of paginationArray"
              (click)="onChangeIndex(i)"
              [ngClass]="{'selected-index': currentIndex === i}">{{i}}</span>
        <img src="../../../../assets/images/forward-icon.png" (click)="onNextPage()">
      </div>
    </div>

  </div>

  <div class="footer">
    <span class="f-roboto">&copy;2020 all rights reserved</span>
  </div>
</div>
