<div
  class="card o-hidden"
  [@animate]="{ value: '*', params: { y: '120px', opacity: '0', delay: '100ms', duration: '400ms' } }"
>
  <div class="row">
    <div class="col">
      <div class="p-4">
        <div>
          <div>
            <form (submit)="submitForm()">
              <div class="form-group">
                <label>Policy or Billing Account #</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Policy or Billing Account #"
                  name="billing_account_number"
                  [(ngModel)]="billingAccountNumber"
                />
              </div>
              <div class="form-group">
                <label>Zipcode</label>
                <input class="form-control" type="text" placeholder="Zipcode" name="zip_code" [(ngModel)]="zipCode" />
              </div>

              <div class="mb-2">
                <button class="btn btn-primary w-100" type="submit">
                  Continue
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
