@import "sass/flex-mixin/flex-styles";

/* You can add global styles to this file, and also import other style files */
.f-roboto{
  font-family: 'Roboto', sans-serif;;
}
.f-2r{
  font-size:2rem !important;
}
.f-22p{
  font-size:22px !important;
}
.f-1d5r{
  font-size:1.5rem !important;
}
.theme-color{
  color:#316C9B !important;
}
.custom-card{
  border: none !important;
    box-shadow: none;
    border: 1px solid #C2DCEF !important;
    border-radius: 5px;
    width: 370px !important;

}
// .layout-sidebar-large .sidebar-left .navigation-left{
//   height: 50%;
// }
.nav-height{
  height:90vh;
}
.signinbtn button{
  background: #2F80ED !important;
  border-radius: 2px !important;
  padding: 14px !important;
  font-size: 16px  !important;
  font-weight: bold;
  border: none;
}
.main-content-account{padding:3rem 2rem}
.form-signin{
  background: none !important;
  border-radius: 2px !important;
  padding: 21px !important;
}
@media (max-width:780px){
.main-content-account{padding:3rem 0rem}

}
@media (max-width:400px){
  .custom-card{

      width: 100% !important;
  
  }
  .layout-sidebar-large .sidebar-left .navigation-left {
    list-style: none;
    text-align: center;
    width: 180px;
    height: 100%;
    margin: 0;
    padding: 0;
}
.layout-sidebar-large .sidebar-left-secondary.open {
  left:180px
}
} 

